.keyboard {
    background: $background-keyboard;
    width: 720px;
    margin: 0 auto;
    padding: 5px;

    border-radius: 5px;
    transition: .3s;
}

.keyboard-row {
    display: flex;
    justify-content: flex-start;

    margin-bottom: 8px;
}

.keyboard-key {
    
    min-width: 40px;
    height: 40px;

    margin-left: 6px;

    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 40px;

    background: $background-keyboard-key;
    color: #ffffff;
    border-radius: 3px;

    transition: 0.3s;
    cursor: pointer;
}

.keyboard-key:hover {
    background: $background-keyboard-key-hover;
    cursor: pointer;
}

.active {
    background: $background-keyboard-key-hover;
    border-radius: 25px;
    // font-size: 1.1em;
    transition: .2s;
}

.remove {
    transition: .2s;
}

.textarea {
    width: 720px;
    height: 150px;

    color: #fff;
    background: rgba(121, 62, 176, 0.562);
    border-radius: 5px;
    padding: 5px;
}

.CapsLock, .Backspace, .ShiftLeft,  {
    width: 100px;
}

.Tab {
    width: 50px;
}

.Delete {
    width: 44px;
}

.Enter , .ShiftRight {
    width: 86px;
}

.Space {
    width: 284px;
}

.ChangeLang {
    background-color: none;
    background-image: url(../assets/icons/planet-earth-svgrepo-com.svg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.ChangeLang:hover {
    background-color: none;
    background-image: url(../assets/icons/planet-earth-svgrepo-com.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.description {
    margin: 20px auto;
    width: 620px;
    text-align: left;
}