{
  "extends": ["airbnb/base"],
  "env": {
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ]
  }
}
